.menu-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  background: #666;
  height: 100vh;
  width: 100%;
  // text-align: left;
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);

  &.transform-x-0 {
  transform: translateX(0);
  }
  
  li {
    margin: 2rem 0;
  }

  a {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.5rem;
    color: $clr1;
    text-decoration: none;
    transition: color 0.3s linear;
  }
}